{% extends 'base.html.twig' %}

{% block title %}
    History
{% endblock %}

{% block body %}
    <div class="main-container">
        <header>
            {% block header %}
                <div class="logo">
                    <a href="log.html">Budżet domowy</a>
                </div>
                <div class="witaj">
                    <p class="wyloguj"><a title="Wyloguj" href="notlog.html">Wyloguj</a></p><p class="imie">Witaj _____, </p>
                </div>
                <div class="history">
                    <p><a titile="Historia" href="">Nowy miesiąc</a></p>
                </div>
            {% endblock %}
        </header>
        <div class="kontener">
            <h1>{{ 'title.month_add'|trans }}</h1>
            {{ form_start(form, { method: 'post', action: url('month_add') }) }}
            {{ form_widget(form) }}
            <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success" />
            {{ form_end(form) }}
        </div>
        <footer>
            {% block footer %}
                <p>Projekt z systemu interaktywnego EPI 2017. Projekt i realizacja: Kinga Bożęcka</p>
            {% endblock %}
        </footer>
    </div>
{% endblock %}