{% extends 'base.html.twig' %}

{% block title %}
    History
{% endblock %}

{% block body %}
    <div class="main-container">
        <header>
            {% block header %}
                <div class="logo">
                    <a href="log.html">Budżet domowy</a>
                </div>
                <div class="witaj">
                    <p class="wyloguj">
                        <a href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}">
                            {{ 'auth.logout.label'|trans }}
                        </a>
                    </p>
                    <p class="imie">Witaj _____, </p>
                </div>
                <div class="history">
                    <p><a titile="Historia" href="">Historia</a></p>
                </div>
            {% endblock %}
        </header>
        <div class="kontener">
            <div class="przyciski2">
                <div class="nowy_miesiac">
                    <p class="wprzycisk"><a title="dodaj miesiąc" href="#">Dodaj nowy miesiąc</a></p>
                </div>
            </div>
            <div class="kategorie2">
                {% if paginator|length %}
                    {% for row in paginator %}
                        <div class="kategoria k">
                            <p class="nazwa">{{ row.name|upper }}</p>
                            <div class="link">
                                <a href="{{ url('month_view', {'id': row.id}) }}" title="{{ 'label.view'|trans }}">
                                    {{ 'zobacz '|trans }}
                                </a>|
                                <a title="Usuń" href="#"> usuń</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <!--
                <div class="kategoria k">
                    <span class="fa fa-shopping-cart"></span>
                    <p class="nazwa">ZAKUPY</p>
                    <a title="Skasuj kategorię" href="#"><span class="fa fa-times-circle"></span></a>
                </div>
                <div class="kategoria k">
                    <span class="fa fa-car"></span>
                    <p class="nazwa">PALIWO</p>
                    <a title="Skasuj kategorię" href="#"><span class="fa fa-times-circle"></span></a>
                </div>
                <div class="kategoria k">
                    <span class="fa fa-credit-card"></span>
                    <p class="nazwa">RACHUNKI</p>
                    <a title="Skasuj kategorię" href="#"><span class="fa fa-times-circle"></span></a>
                </div>
                <div class="kategoria k">
                    <span class="fa fa-gamepad"></span>
                    <p class="nazwa">ROZRYWKA</p>
                    <a title="Skasuj kategorię" href="#"><span class="fa fa-times-circle"></span></a>
                </div>-->
            </div>
            <div class="paginacja">
                {% include 'default/_paginator.html.twig' with {
                paginator: paginator,
                route_name: 'month_index_paginated',} %}
            </div>
        </div>
        <footer>
            {% block footer %}
                <p>Projekt z systemu interaktywnego EPI 2017. Projekt i realizacja: Kinga Bożęcka</p>
            {% endblock %}
        </footer>
    </div>


    {#
    {% if categories|length %}
        <ul>
            {% for row in categories %}
                <li>{{ row.id }}. {{ row.title }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div>
            Brak elementów!
        </div>
    {% endif %}
    #}
{% endblock %}