{#
    Default view for paginator.
#}

{% if paginator.getCurrentPage < paginator.getNbPages %}
    {% set next = (paginator.getCurrentPage + 1) %}
    <div class="next">
        <a href="{{ url(route_name, {'page': next}) }}" title="{{ 'label.nav.next'|trans }}">
            {{ 'label.nav.next'|trans }}
        </a>
    </div>
{% endif  %}

{% if paginator.getCurrentPage > 1 %}
    {% set previous = (paginator.getCurrentPage - 1) %}
    <div class="prev">
        <a href="{{ url(route_name, {'page': previous}) }}" title="{{ 'label.nav.prev'|trans }}">
            {{ 'label.nav.prev'|trans }}
        </a>
    </div>
{%  endif %}
